<%- include ('partials/header') -%>

<div class="card mb-3">
    <form action="/diary/<%=diary._id%>?_method=DELETE" method="POST">
    <img src="<%diary.pic%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%=diary.title%></h5>
      <p class="card-text"><%=diary.content%></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <label for=PP"">DELETE</label>
    <input type="submit" value="PP" >
</form>
</div>
 

<%- include ('partials/footer') -%>
