<%- include ('partials/header') -%>
<br>
<h1 class="text-center" style="font-family: 'UnifrakturCook';font-size: 52px; text-decoration: overline; ">Edit Your Page</h1>

<br><br>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 card text-center">
    <form method="POST" action="/diary/<%=diary._id%>?_method=PUT">
    <label style="font-family: 'Unica One';font-size: 32px;">Title</label>
    <br>
    <input  type="text" style="font-family: 'Black And White Picture';font-size: 42px;" class="form-control" name="diary[title]" value = "<%=diary.title%>" >
    <br>
      <label style="font-family: 'Unica One';font-size: 32px;">Content</label>
      <br>

     <input class="form-control"  type="text"  style="font-family: 'Butterfly Kids';font-size: 38px;" name="diary[content]" value="<%=diary.content%>">     
<br>
        <label style="font-family: 'Unica One';font-size: 32px;">Pic of the Day</label>
        <br>
        <br>
        <input type="text" class="form-control" name="diary[pic]" value= "<%=diary.pic%>" > 
       <br>
        <label  style="font-family: 'Unica One';font-size: 32px;">Who are you?</label>
        <br>
        <input style="font-family: 'Cabin Sketch';font-size: 22px;" type="text" class="form-control" name="diary[author]" value = "<%=diary.author%>">  
<br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  <div class="col-1"></div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<%- include ('partials/footer') -%>
