 
<%- include ('partials/header') -%> 




<% diaries.forEach(function(diary){ %>

  <div class="row">
    <img src="abs.jpg" class="index col-4" alt="">
    <div class="index card col-4" style="max-height: 398px;" >
    <div class="row no-gutters">
      <div class="col-md-5">
        <img src="<%=diary.pic%>" class="card-img"  alt="...">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h3 class="card-title"><%= diary.title%></h5>
          <br><br> 
          <p class="card-text"><%=diary.content.substring(0,200)%>.... <a href="/diary/<%=diary._id%>">Read More</a></p>
          <br><br><br><br>
          <p class="card-footer"><small class="text-muted"><%=diary.author%> on <%=diary.date.toDateString()%> </small></p>
        </div>
      </div>
    </div>
  </div>
  <img src="abs.jpg" class="index col-4" alt="">
</div>
<% })%>
<%- include ('partials/footer') -%> 
